body {
    color: brown;background-color:black ;
}


header{
    background-color: blue; height: 50px;
}
footer {
    background-color: blueviolet;
}
p {
    color: yellow;
}
h1 {
    color: white;text-align: center;
}






#texto-footer {
    color:black ;font-size: 25px;
}

.importante {
    background-color: red;color: white;
}